html {
  scroll-behavior: smooth;
}
body {
  font-family: "Rubik", sans-serif;
  color: #172432;
  font-weight: 400;
  background-color: #fff;
}

/* reset */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* common */

.container {
  width: 288px;
  padding: 0 16px;
  margin: 0 auto;
}
.section {
  padding: 80px 0;
}
button {
  cursor: pointer;
}

/* header */

.head-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
}
.head-nav {
  display: flex;
  align-items: center;
}
.head-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  padding: 35px 0;
}
.head-logo-icon {
  width: 25px;
  fill: #fff;
}
.head-nav-list {
  display: none;
  list-style-type: none;
  /* display: flex; */
  align-items: center;
  gap: 32px;
}
.head-nav-list-link {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  padding: 50 0;
}
.head-btns-wrap {
  display: none;
  /* display: flex; */
  align-items: center;
  gap: 36px;
  list-style-type: none;
}
.head-btns {
  text-align: center;
  font-family: inherit;
  padding: 20px 0;
  font-size: 20px;
  color: #fff;
  border: none;
}
.btn-log {
  background-color: transparent;
}
.btn-up {
  width: 134px;
  border-radius: 12px;
  background-color: #ff7757;
}
.mob-menu-btn {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-icon {
  fill: #fff;
}

/* mob-menu */

.mob-menu {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  transform: translateX(0);
  height: 100%;
  width: 220px;
  background-color: #172432;
  top: 0;
  right: 0;
  z-index: 999;
  padding: 20px;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu:not(.is-open) {
  transform: translateX(100%);
}
.mob-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mob-close-btn {
  border: none;
  border-radius: 100%;
  background-color: transparent;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  margin-left: auto;
}
.mob-close-icon {
  stroke: white;
}
.mob-menu-top {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mob-navigation {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.mob-nav-list-link {
  text-decoration: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: white;
}
.mob-btns-wrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.mob-btns {
  border-radius: 12px;
  width: 134px;
  padding: 10px 0;
  text-align: center;
  background-color: #ff7757;
  color: #fff;
  font-size: 12px;
  border: none;
}

/* hero */

.hero-section {
  background-image: url(../images/hero-mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* max-width: 320px; */
  margin: 0 auto;
  padding: 198px 0 100px 0;
}
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero-head {
  margin-bottom: 100px;
  width: 288px;
}
.hero-title {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: #fff;
  margin-bottom: 16px;
}
.hero-text {
  font-size: 18px;
  color: #fff;
}
.hero-form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: #fff;
  padding: 20px 20px 80px 20px;
  border-radius: 16px 16px 0 0;
}
.hero-form-field {
  display: flex;
  flex-direction: column;
}
.hero-field-label {
  font-size: 14px;
  text-transform: uppercase;
  color: #767e86;
  margin-bottom: 12px;
}
.hero-input {
  background-color: transparent;
  color: #172432;
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-size: 18px;
  outline: none;
  border: none;
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
}
.hero-btn-wrap {
  background-color: #ff7757;
  border-radius: 0 0 16px 16px;
  padding: 40px 20px;
}
.hero-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: transparent;
  border: none;
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: #fff;
}
.hero-btn-icon {
  fill: #fff;
}

/* popular */

/* .popular-container {
  display: flex;
  flex-direction: column;
  align-items: center;
} */
.popular-head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 100px;
  position: relative;
}
.popular-title {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: #172432;
  margin-bottom: 52px;
}
.popular-head::after {
  position: absolute;
  top: 115px;
  left: 0;
  content: " ";
  border: 2px solid #ff7757;
  width: 227px;
  height: 0px;
}
.popular-text {
  width: 288px;
  font-weight: 400;
  font-size: 18px;
  color: #767e86;
}
.popular-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.popular-list-item {
  background-image: url(../images/berlin-mob.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 288px;
  height: 320px;
  padding: 207px 20px 40px 20px;
}
.popular-list-item:last-child {
  background-image: url(../images/london-mob.jpg);
}
.popular-item-title {
  font-family: "Playfair Display", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #fff;
  margin-bottom: 17px;
}
.popular-item-text-wrap {
  display: flex;
  align-items: center;
  gap: 16px;
}
.popular-item-icon {
  fill: #fff;
}
.popular-item-text {
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}

/* offers */

.offer-head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 60px;
  position: relative;
}
.offer-title {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: #172432;
  margin-bottom: 52px;
}
.offer-head::after {
  position: absolute;
  top: 73px;
  left: 0;
  content: " ";
  border: 2px solid #ff7757;
  width: 241px;
  height: 0px;
}
.offer-text {
  width: 288px;
  font-weight: 400;
  font-size: 18px;
  color: #767e86;
}
.offer-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  list-style-type: none;
}
.offer-list-item {
  width: 288px;
}
.offer-item-text-wrap {
  background-color: #fff8f1;
  border-radius: 0 0 26px 26px;
  padding: 20px;
}
.offer-item-title {
  font-weight: 400;
  font-size: 28px;
  color: #767e86;
  margin-bottom: 30px;
}
.offer-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #172432;
  margin-bottom: 24px;
}
.offer-item-price {
  font-weight: 400;
  font-size: 18px;
  color: #767e86;
  margin-bottom: 20px;
}
.offer-span {
  font-weight: 400;
  font-size: 32px;
  color: #ff7757;
}
.offer-item-btn {
  border-radius: 12px;
  text-align: center;
  width: 127px;
  height: 56px;
  background-color: #ff7654;
  border: none;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
}

/* blog */

.blog-head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 100px;
  position: relative;
}
.blog-title {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: #172432;
  margin-bottom: 52px;
}
.blog-title::after {
  position: absolute;
  top: 73px;
  left: 0;
  content: " ";
  border: 2px solid #ff7757;
  width: 150px;
  height: 0px;
}
.blog-text {
  width: 288px;
  font-weight: 400;
  font-size: 18px;
  color: #767e86;
}
.blog-content-title {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: #172432;
  margin-bottom: 24px;
  margin-top: 32px;
}
.blog-content-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 233%;
  color: #172432;
  margin-bottom: 24px;
}
.blog-content-link {
  font-weight: 400;
  font-size: 24px;
  line-height: 217%;
  color: #ff7757;
  text-decoration: none;
}
.blog-link-icon {
  fill: #ff7757;
}

/* feedback */

.feedback-head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 100px;
  position: relative;
}
.feedback-title {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: #172432;
  margin-bottom: 52px;
}
.feedback-title::after {
  position: absolute;
  top: 120px;
  left: 0;
  content: " ";
  border: 2px solid #ff7757;
  width: 190px;
  height: 0px;
}
.feedback-text {
  width: 288px;
  font-weight: 400;
  font-size: 18px;
  color: #767e86;
}
.feedback-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  list-style-type: none;
}
.feedback-list-item {
  position: relative;
  width: 288px;
  background-color: #f5f6f7;
  border-radius: 12px;
  padding: 60px 20px 32px 20px;
}
.feedback-item-img {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 20px;
  top: -65px;
}
.feedback-item-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 128%;
  color: #767e86;
  margin-bottom: 20px;
}
.feedback-item-name {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #767e86;
  margin-bottom: 4px;
}
.feedback-item-prof {
  font-weight: 400;
  font-size: 18px;
  color: #767e86;
}

/* letter */

.letter-section {
  padding-bottom: 0;
}
.letter-container {
  margin: 0 auto;
  padding: 40px 20px;
  width: 288px;
  background-color: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
  border-radius: 26px;
}
.letter-title {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: #767e86;
  margin-bottom: 60px;
}
.letter-field {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}
.letter-field-label {
  font-weight: 400;
  font-size: 20px;
  color: #767e86;
}
.letter-field-input {
  background-color: #ffe8d4;
  outline: none;
  border: none;
  border-radius: 12px;
  text-align: center;
  padding: 24px 0;
  font-weight: 400;
  font-size: 20px;
  color: #ff7757;
}
.letter-field-input::placeholder {
  font-weight: 400;
  font-size: 20px;
  color: #ff7757;
}
.letter-btn {
  width: 248px;
  padding: 24px 0;
  text-align: center;
  border: none;
  border-radius: 12px;
  background-color: #ff7757;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
}

/* footer */

.footer-section {
  background-color: #172432;
  padding: 80px 16px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 0;
}
.foot-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 400;
  font-size: 30px;
  color: #fff;
  margin-bottom: 16px;
}
.foot-logo-icon {
  width: 30px;
  fill: #fff;
}
.footer-text {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}
.footer-wrap {
  font-style: normal;
}
.footer-wrap-title {
  font-weight: 500;
  font-size: 24px;
  color: #fff;
  margin-bottom: 16px;
}
.footer-wrap-item-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}
.footer-wrap-list-item:not(:last-child) {
  margin-bottom: 12px;
}
.footer-wrap-soc-list {
  display: flex;
  gap: 24px;
}
.footer-soc-link-icon {
  fill: #fff;
}

/* media */

@media screen and (min-width: 768px) {
  .container {
    width: 728px;
    padding: 0 20px;
  }
  .head-logo {
    font-weight: 500;
    font-size: 35px;
  }
  .head-logo-icon {
    width: 41px;
  }
  .hero-section {
    background-image: url(../images/hero-tab.jpg);
    /* max-width: 768px; */
    padding: 214px 0 75px 0;
  }
  .hero-container {
    align-items: flex-start;
  }
  .hero-head {
    width: 629px;
  }
  .hero-title {
    font-size: 54px;
  }
  .hero-text {
    font-size: 20px;
  }
  .hero-book {
    display: flex;
    margin-left: -41px;
  }
  .hero-form {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 23px 100px 23px 32px;
    border-radius: 0;
  }
  .hero-form-field {
    width: calc((100% - 40px) / 2);
  }
  .hero-field-label {
    font-size: 16px;
  }
  .hero-btn-wrap {
    border-radius: 0 16px 16px 0;
    padding: 60px 20px;
  }
  .popular-title {
    font-size: 54px;
  }
  .popular-head::after {
    top: 90px;
    width: 365px;
  }
  .popular-text {
    width: 624px;
    font-size: 20px;
  }
  .popular-list-item {
    background-image: url(../images/berlin-tab.jpg);
    width: 728px;
    height: 456px;
    padding: 334px 20px 40px 20px;
  }
  .popular-list-item:last-child {
    background-image: url(../images/london-tab.jpg);
  }
  .popular-item-title {
    font-size: 28px;
  }
  .popular-item-text {
    font-size: 24px;
  }
  .offer-head {
    margin-bottom: 100px;
    align-items: flex-end;
  }
  .offer-title {
    font-size: 54px;
  }
  .offer-head::after {
    top: 85px;
    left: auto;
  }
  .offer-text {
    width: 468px;
    font-size: 24px;
  }
  .offer-list-item {
    width: 728px;
  }
  .offer-item-text-wrap {
    padding: 20px 24px;
  }
  .offer-item-text {
    font-size: 18px;
  }
  .offer-item-price-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .offer-item-price {
    margin-bottom: 0;
  }
  .blog-title {
    font-size: 54px;
  }
  .blog-title::after {
    top: 83px;
  }
  .blog-text {
    width: 536px;
    font-size: 20px;
  }
  .blog-content-title {
    font-size: 54px;
    width: 362px;
  }
  .feedback-head {
    margin-bottom: 160px;
  }
  .feedback-title {
    font-size: 54px;
  }
  .feedback-title::after {
    top: 83px;
    width: 347px;
  }
  .feedback-text {
    width: 704px;
    font-size: 20px;
  }
  .feedback-list {
    flex-direction: row;
    gap: 32px;
  }
  .feedback-list-item {
    width: 388px;
  }
  .feedback-item-img {
    left: 40px;
    top: -65px;
  }
  .letter-container {
    padding: 40px;
    width: 732px;
  }
  .letter-title {
    font-size: 54px;
  }
  .letter-form-wrap {
    display: flex;
    align-items: flex-end;
    gap: 32px;
  }
  .letter-field {
    margin-bottom: 0;
  }
  .letter-field-input {
    width: 457px;
  }
  .letter-btn {
    width: 163px;
    font-size: 20px;
  }
  .footer-section {
    padding: 100px 32px;
  }
}
@media screen and (min-width: 1152px) {
  .container {
    width: 1088px;
    padding: 0 32px;
  }
  .section {
    padding: 100px 0;
  }
  .head-logo {
    margin-right: 107px;
    padding: 41px 0;
  }
  .head-nav-list {
    display: flex;
  }
  .head-btns-wrap {
    display: flex;
  }
  .mob-menu-btn {
    display: none;
  }
  .hero-section {
    background-image: url(../images/hero-desk-1152.jpg);
    /* max-width: 1152px; */
    padding: 200px 0 150px 0;
  }
  .hero-head {
    width: 726px;
    margin-bottom: 140px;
  }
  .hero-title {
    font-size: 64px;
  }
  .hero-text {
    font-size: 24px;
  }
  .hero-book {
    margin-left: -65px;
  }
  .hero-form {
    padding: 55px 100px 55px 32px;
  }
  .hero-form-field {
    width: calc((100% - 120px) / 4);
  }
  .hero-btn-wrap {
    width: 170px;
    padding: 40px 20px;
  }
  .popular-title {
    font-size: 64px;
  }
  .popular-head::after {
    top: 100px;
  }
  .popular-text {
    width: 884px;
    font-size: 24px;
  }
  .popular-list {
    flex-direction: row;
    justify-content: center;
  }
  .popular-list-item {
    background-image: url(../images/berlin-desk.jpg);
    width: 497px;
    height: 661px;
    padding: 539px 24px 40px 24px;
  }
  .popular-list-item:last-child {
    background-image: url(../images/london-desk.jpg);
  }
  .offer-title {
    font-size: 64px;
  }
  .offer-head::after {
    top: 100px;
  }
  .offer-list {
    flex-direction: row;
  }
  .offer-list-item {
    width: calc((100% - 32) / 3);
  }
  .blog-title {
    font-size: 64px;
  }
  .blog-title::after {
    top: 93px;
  }
  .blog-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }
  .blog-content-wrap {
    width: 528px;
  }
  .feedback-head {
    margin-bottom: 160px;
  }
  .feedback-title {
    font-size: 64px;
  }
  .feedback-title::after {
    top: 93px;
  }
  .feedback-list-item {
    width: 500px;
  }
  .letter-section {
    position: relative;
  }
  .letter-container {
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 60px 40px;
    width: 1080px;
  }
  .letter-title {
    margin-bottom: 0;
  }
  .letter-field-input {
    width: 378px;
  }
  .footer-section {
    padding: 240px 32px 140px 32px;
  }
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }
  .foot-logo {
    font-size: 38px;
  }
  .foot-logo-icon {
    width: 38px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1376px;
    padding: 0 32px;
  }
  .section {
    padding: 140px 0;
  }
  .head-logo {
    margin-right: 251px;
  }
  .hero-section {
    background-image: url(../images/hero-desk-1440.jpg);
    /* max-width: 1440px; */
    padding: 270px 0 270px 0;
  }
  .hero-head {
    width: 935px;
    margin-bottom: 170px;
  }
  .hero-title {
    font-size: 84px;
  }
  .hero-form {
    padding: 75px 100px 75px 32px;
  }
  .hero-btn-wrap {
    padding: 60px 20px;
  }
  .popular-text {
    width: 1172px;
  }
  .feedback-list-item {
    width: 600px;
  }
  .letter-container {
    gap: 100px;
    padding: 60px 80px;
    width: 1262px;
  }
  .letter-title {
    font-size: 64px;
  }
  .letter-field-input {
    width: 372px;
  }
  .footer-section {
    padding: 251px 32px 140px 32px;
  }
}
